{{ $theme := theme }}
{{ $instance := instance }}
<style>{{ assetBody "passport_admin.css"}}</style>
<table style="display: block; padding-top: 24px;">
    <tbody>
         <tr>
            <td class="email-header">
                <a target="_blank" href="{{ $instance.metadata.home}}">
                    {{ if $theme.banner }}
                        <img src="{{ $theme.banner }}" border="0" alt="{{ $instance.title }}">
                    {{ else }}
                        <span class="email-header-text">{{ $instance.title }}</span>
                    {{ end }}
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Hi {{ .invite.to.name }},</p>

                <p>You have been given a {{ .credit.quantity }} {{ .credit.interval }} gift subscription to {{ $instance.title }} valued at {{ currency .credit.amount }} from {{ .credit.owner_email.name }} ({{ .credit.owner_email.address }}).</p>

                {{ if .invite.message }}
                <p>Here is a note from your gift-giver:</p>

                <hr>

                <p style="margin-top: 20px; margin-bottom: 20px;">{{ .invite.message }}</p>

                <hr>
                <br>
                {{ end }}

                <p>What happens when you redeem depends on your current account:</p>

                <ul>
                    <li><strong>If you don't have a subscription:</strong> you'll receive a {{ .credit.quantity }} {{ .credit.interval }} subscription, expiring on {{ timeFormat .credit.ends_at "LL" }}. To continue past that, add a payment method and turn on auto-renew.</li>
                    <li><strong>If you already have a monthly subscription:</strong> your subscription will renew as usual with no charge for {{ .credit.quantity }} {{ .credit.interval }}{{ if ne .credit.quantity 1 }}s{{ end }}.</li>
                    <li><strong>If you have an annual subscription:</strong> the full value of your gift will be credited toward your next renewal.</li>
                </ul>

                <p>To redeem your gift and set your email delivery preferences please click this link:</p>

                <!--{{ with $redeemURI := (printf "/redeem/%s?email=%s&name=%s" .invite.invite_code (urlencode .invite.to.address) (urlencode .invite.to.name )) }} -->

                <p>
                    <a class="button" target="_blank" href="{{ member $redeemURI }}">
                        <span>Redeem Gift</span>
                    </a>
                </p>

                <p>Welcome!</p>

                <!-- {{ end }} -->
            </td>
        </tr>
    </tbody>
</table>
